n8n/Commands.json
{
	"name": "Commands",
	"nodes": [
		{
			"parameters": {
				"updates": [
					"message"
				],
				"additionalFields": {}
			},
			"type": "n8n-nodes-base.telegramTrigger",
			"typeVersion": 1.2,
			"position": [
				2208,
				1792
			],
			"id": "4f98edbb-3efb-4027-9294-9fca3b4c9cd6",
			"name": "Telegram Trigger",
			"webhookId": "edd54a6f-00d0-481b-8803-ef84f702d2f4",
			"credentials": {
				"telegramApi": {
					"id": "SjQkP2SNa8sOZJA1",
					"name": "Goaliphant Bot"
				}
			}
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "help-text-assignment",
							"name": "text",
							"value": "🐘 *Goaliphant Commands*|*Goals*/add {text} - Add a goal/list - Show today's goals/complete {n} - Mark done/uncomplete {n} - Mark undone/delete {n} - Remove goal/edit {n} {text} - Update goal text/swap {n1} {n2} - Swap two goals/move {n} {to} - Move goal to position/note {n} {text} - Add note to goal/details {n} - Show goal details|*Scheduling*/due {n} {MM DD} - Set due date/schedule {n} {MM DD} - Schedule for date/recurring {n} {pattern} - Make recurring (daily, weekdays, weekends)|*Info*/wallet - Check ticket balance/help - Show this message",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [
				3264,
				2336
			],
			"id": "9582611e-92fe-4472-b6a1-e25371b86a92",
			"name": "Set Help Text"
		},
		{
			"parameters": {
				"url": "={{ $('Extract Command').item.json.baseUrl }}/users/{{ $json.chatId }}/tickets",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				3152,
				2528
			],
			"id": "62d47204-f99b-4124-8642-c06826d3edbc",
			"name": "GET /users/tickets"
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "wallet-text-assignment",
							"name": "text",
							"value": "=💰 *Your Wallet*\n\nYou have *{{ $json.tickets }}* tickets 🎟️",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [
				3376,
				2528
			],
			"id": "c923558e-fc8f-4bff-b02c-0d30a402c1e6",
			"name": "Set Wallet Text"
		},
		{
			"parameters": {
				"rules": {
					"values": [
						{
							"conditions": {
								"options": {
									"caseSensitive": false,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"leftValue": "={{ $json.command }}",
										"rightValue": "add",
										"operator": {
											"type": "string",
											"operation": "startsWith"
										},
										"id": "9bce4dd8-d9fb-4068-8e8f-be81b00249ff"
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "add"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": false,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "acea4a94-fc5c-40a9-9dd6-0a4ec3ae2247",
										"leftValue": "={{ $json.command }}",
										"rightValue": "list",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "list"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": false,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "e248efcd-3d52-4b5e-a063-6b408b977688",
										"leftValue": "={{ $json.command }}",
										"rightValue": "complete",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "complete"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": false,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "15986a1f-0513-456b-b2b6-f5b4f44d91eb",
										"leftValue": "={{ $json.command }}",
										"rightValue": "uncomplete",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "uncomplete"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": false,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "90668c5e-96db-443a-aeee-dfe29fc25efe",
										"leftValue": "={{ $json.command }}",
										"rightValue": "delete",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "delete"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": false,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "help-condition-id",
										"leftValue": "={{ $json.command }}",
										"rightValue": "help",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "help"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": false,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "wallet-condition-id",
										"leftValue": "={{ $json.command }}",
										"rightValue": "wallet",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "wallet"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": false,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "edit-condition-id",
										"leftValue": "={{ $json.command }}",
										"rightValue": "edit",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "edit"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": false,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "swap-condition-id",
										"leftValue": "={{ $json.command }}",
										"rightValue": "swap",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "swap"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": false,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "move-condition-id",
										"leftValue": "={{ $json.command }}",
										"rightValue": "move",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "move"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": false,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "note-condition-id",
										"leftValue": "={{ $json.command }}",
										"rightValue": "note",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "note"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": false,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "details-condition-id",
										"leftValue": "={{ $json.command }}",
										"rightValue": "details",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "details"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": false,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "due-condition-id",
										"leftValue": "={{ $json.command }}",
										"rightValue": "due",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "due"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": false,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "schedule-condition-id",
										"leftValue": "={{ $json.command }}",
										"rightValue": "schedule",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "schedule"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": false,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "recurring-condition-id",
										"leftValue": "={{ $json.command }}",
										"rightValue": "recurring",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "recurring"
						}
					]
				},
				"options": {
					"ignoreCase": true
				}
			},
			"type": "n8n-nodes-base.switch",
			"typeVersion": 3.2,
			"position": [
				2928,
				1712
			],
			"id": "9b616c5e-7140-4f2b-bffc-75e8de38c98c",
			"name": "Switch"
		},
		{
			"parameters": {
				"jsCode": "const message = $('Telegram Trigger').first().json.message;\nlet text = message.text\nif (text[0] === '/') {\n  text = text.substring(1).trim();\n}\n\nconst command = text.split(' ')[0].toLowerCase();\nconst args = text.substring(command.length).trim();\n\n// Convert 1-based user input to 0-based API index\nconst argParts = args.split(' ');\nconst firstArg = argParts[0];\nconst secondArg = argParts[1];\nconst thirdArg = argParts[2];\nconst argsAsIndex = firstArg ? parseInt(firstArg) - 1 : null;\nconst argsAsSecondIndex = secondArg ? parseInt(secondArg) - 1 : null;\n\n// For commands like /edit 1 New text - get text after the index\nconst argsText = firstArg ? args.substring(firstArg.length).trim() : '';\n\n// Parse MM DD date format for /due and /schedule commands\nlet argsAsDate = null;\nif (secondArg && thirdArg) {\n  const month = parseInt(secondArg);\n  const day = parseInt(thirdArg);\n  if (!isNaN(month) && !isNaN(day)) {\n    const year = new Date().getFullYear();\n    const targetDate = new Date(year, month - 1, day);\n    // If date is in the past, assume next year\n    if (targetDate < new Date()) {\n      targetDate.setFullYear(year + 1);\n    }\n    argsAsDate = targetDate.toISOString().split('T')[0];\n  }\n}\n\n// Map recurring patterns to cron expressions\nlet argsAsCron = null;\nif (argsText) {\n  const pattern = argsText.toLowerCase();\n  if (pattern === 'daily') argsAsCron = '0 9 * * *';\n  else if (pattern === 'weekdays') argsAsCron = '0 9 * * 1-5';\n  else if (pattern === 'weekends') argsAsCron = '0 9 * * 0,6';\n  else if (pattern.match(/^[0-9*\\/,-]+\\s+[0-9*\\/,-]+\\s+[0-9*\\/,-]+\\s+[0-9*\\/,-]+\\s+[0-9*\\/,-]+$/)) {\n    argsAsCron = argsText; // Raw cron expression\n  }\n}\n\nreturn {\n  baseUrl: \"https://5fxpi3bue4dkhwv4kf5re3vcyi0cowqn.lambda-url.us-east-2.on.aws/api/v1\",\n  name:  message.from.first_name,\n  chatId: message.chat.id.toString(),\n  date: new Date(message.date * 1000),\n  text,\n  command,\n  args,\n  argsAsIndex,\n  argsAsSecondIndex,\n  argsText,\n  argsAsDate,\n  argsAsCron,\n}"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [
				2704,
				1792
			],
			"id": "ec2f3b1b-a47b-4727-850b-26305d81bea3",
			"name": "Extract Command"
		},
		{
			"parameters": {
				"workflowId": {
					"__rl": true,
					"value": "YaviUPj9bCI6EsJr",
					"mode": "list",
					"cachedResultName": "Send Telegram Markdown"
				},
				"workflowInputs": {
					"mappingMode": "defineBelow",
					"value": {
						"chatId": "={{ $json.message.chat.id.toString() }}",
						"text": "=Thinking... 🤔",
						"bot": "goaliphant"
					},
					"matchingColumns": [],
					"schema": [
						{
							"id": "chatId",
							"displayName": "chatId",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"canBeUsedToMatch": true,
							"type": "string"
						},
						{
							"id": "text",
							"displayName": "text",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"canBeUsedToMatch": true,
							"type": "string"
						},
						{
							"id": "bot",
							"displayName": "bot",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"canBeUsedToMatch": true,
							"type": "string"
						}
					],
					"attemptToConvertTypes": false,
					"convertFieldsToString": true
				},
				"options": {}
			},
			"type": "n8n-nodes-base.executeWorkflow",
			"typeVersion": 1.2,
			"position": [
				2448,
				1792
			],
			"id": "bc9a7f3d-af2a-4ffa-9ab6-d590b61be715",
			"name": "Send Thinking Message"
		},
		{
			"parameters": {
				"workflowId": {
					"__rl": true,
					"value": "YaviUPj9bCI6EsJr",
					"mode": "list",
					"cachedResultName": "Send Telegram Markdown"
				},
				"workflowInputs": {
					"mappingMode": "defineBelow",
					"value": {
						"chatId": "={{ $('Switch').item.json.chatId }}",
						"text": "={{ $json.text }}",
						"bot": "goaliphant",
						"messageId": "={{ $('Send Thinking Message').item.json.result.message_id.toString() }}"
					},
					"matchingColumns": [],
					"schema": [
						{
							"id": "chatId",
							"displayName": "chatId",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"canBeUsedToMatch": true,
							"type": "string"
						},
						{
							"id": "text",
							"displayName": "text",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"canBeUsedToMatch": true,
							"type": "string"
						},
						{
							"id": "bot",
							"displayName": "bot",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"canBeUsedToMatch": true,
							"type": "string"
						},
						{
							"id": "messageId",
							"displayName": "messageId",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"canBeUsedToMatch": true,
							"type": "string",
							"removed": false
						}
					],
					"attemptToConvertTypes": false,
					"convertFieldsToString": true
				},
				"options": {}
			},
			"type": "n8n-nodes-base.executeWorkflow",
			"typeVersion": 1.2,
			"position": [
				3696,
				1760
			],
			"id": "aab5a49a-da05-4216-898c-4ebc1626bd01",
			"name": "Send Telegram Message"
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "0a450c4c-fdb8-4fbb-b8ff-59f7f527eb38",
							"name": "text",
							"value": "=Successfully added goal: \\n> {{$json.goal.text }}\\nI believe in you!",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [
				3376,
				1376
			],
			"id": "a11687ea-4aad-45a4-a809-ba2863c42b3f",
			"name": "Set Add Text"
		},
		{
			"parameters": {
				"mode": "runOnceForEachItem",
				"jsCode": "const goals = $json.goals;\n\nlet response = \"Here are your goals for today:\\n\";\ngoals.forEach((goal, index) => {\n  response += `${index + 1}. ${goal.completed ? \"✅\" : \"⬜\"} ${goal.text}\\n`;\n})\n\nreturn {\n  text: response\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [
				3376,
				1568
			],
			"id": "8f5f92f1-8518-4129-813b-755de5bb50a5",
			"name": "Build List Text"
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "0449cc1a-2d59-4e47-8423-85fe69b4ee59",
							"name": "text",
							"value": "=Great work!\\\\n>{{$json.goal.text}}\\nhas been marked as complete!",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [
				3376,
				1760
			],
			"id": "f90baf3b-5305-4503-9bb9-7c98f729fc02",
			"name": "Set Complete Text"
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "0449cc1a-2d59-4e47-8423-85fe69b4ee59",
							"name": "text",
							"value": "=Oops!\\\\n>{{$json.goal.text}}\\nhas been marked as incomplete. You'll get it though!",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [
				3376,
				1952
			],
			"id": "2afe7399-2ed4-4e67-9355-b69f81a4f4a7",
			"name": "Set Complete Text2"
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "8b30c366-1136-4a32-94be-4ec834df767f",
							"name": "text",
							"value": "=>{{$json.deleted.text}}\\nhas been deleted.",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [
				3376,
				2144
			],
			"id": "23a886fb-1bc6-4e14-ad78-7981f9a30a80",
			"name": "Set Delete Text"
		},
		{
			"parameters": {
				"method": "POST",
				"url": "={{ $('Extract Command').item.json.baseUrl }}/goals",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"chatId\": \"{{ $('Extract Command').item.json.chatId }}\",\n  \"text\": {{ JSON.stringify($('Extract Command').item.json.args) }}\n}",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				3152,
				1376
			],
			"id": "6070969c-4b04-4d00-a615-122e4c3995dc",
			"name": "POST /goals"
		},
		{
			"parameters": {
				"url": "={{ $('Extract Command').item.json.baseUrl }}/goals",
				"sendQuery": true,
				"queryParameters": {
					"parameters": [
						{
							"name": "chatId",
							"value": "={{ $json.chatId }}"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				3152,
				1568
			],
			"id": "75dfc0e3-2066-42b5-b132-1c527d12670b",
			"name": "GET /goals"
		},
		{
			"parameters": {
				"method": "POST",
				"url": "={{ $('Extract Command').item.json.baseUrl }}/goals/{{ $('Extract Command').item.json.argsAsIndex }}/complete",
				"sendBody": true,
				"bodyParameters": {
					"parameters": [
						{
							"name": "chatId",
							"value": "={{ $json.chatId }}"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				3152,
				1760
			],
			"id": "ebc17129-9f4e-43a3-abd0-048e788df442",
			"name": "POST /goals/{index}/complete"
		},
		{
			"parameters": {
				"method": "DELETE",
				"url": "={{ $('Extract Command').item.json.baseUrl }}/goals/{{ $('Extract Command').item.json.argsAsIndex }}/complete",
				"sendQuery": true,
				"queryParameters": {
					"parameters": [
						{
							"name": "chatId",
							"value": "={{ $json.chatId }}"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				3152,
				1952
			],
			"id": "4b40dd1c-b388-4ed2-8706-23d4834f8043",
			"name": "DELETE /goals/{index}/complete"
		},
		{
			"parameters": {
				"method": "DELETE",
				"url": "={{ $('Extract Command').item.json.baseUrl }}/goals/{{ $('Extract Command').item.json.argsAsIndex }}",
				"sendQuery": true,
				"queryParameters": {
					"parameters": [
						{
							"name": "chatId",
							"value": "={{ $json.chatId }}"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				3152,
				2144
			],
			"id": "748293fe-7bfc-49be-8703-a13c6e84646a",
			"name": "DELETE /goals/{index}"
		},
		{
			"parameters": {
				"method": "PUT",
				"url": "={{ $('Extract Command').item.json.baseUrl }}/goals/{{ $('Extract Command').item.json.argsAsIndex }}",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"chatId\": \"{{ $('Extract Command').item.json.chatId }}\",\n  \"text\": {{ JSON.stringify($('Extract Command').item.json.argsText) }}\n}",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				3152,
				2720
			],
			"id": "put-goals-index-node",
			"name": "PUT /goals/{index}"
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "edit-text-assignment",
							"name": "text",
							"value": "=Updated goal:\\n> {{ $json.goal.text }}",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [
				3376,
				2720
			],
			"id": "set-edit-text-node",
			"name": "Set Edit Text"
		},
		{
			"parameters": {
				"method": "PUT",
				"url": "={{ $('Extract Command').item.json.baseUrl }}/goals/swap",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"chatId\": \"{{ $('Extract Command').item.json.chatId }}\",\n  \"index1\": {{ $('Extract Command').item.json.argsAsIndex }},\n  \"index2\": {{ $('Extract Command').item.json.argsAsSecondIndex }}\n}",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				3152,
				2912
			],
			"id": "put-goals-swap-node",
			"name": "PUT /goals/swap"
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "swap-text-assignment",
							"name": "text",
							"value": "=Swapped goals:\\n> {{ $json.swapped[0].text }}\\n> {{ $json.swapped[1].text }}",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [
				3376,
				2912
			],
			"id": "set-swap-text-node",
			"name": "Set Swap Text"
		},
		{
			"parameters": {
				"method": "PUT",
				"url": "={{ $('Extract Command').item.json.baseUrl }}/goals/{{ $('Extract Command').item.json.argsAsIndex }}/position",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"chatId\": \"{{ $('Extract Command').item.json.chatId }}\",\n  \"toIndex\": {{ $('Extract Command').item.json.argsAsSecondIndex }}\n}",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				3152,
				3104
			],
			"id": "put-goals-position-node",
			"name": "PUT /goals/{index}/position"
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "move-text-assignment",
							"name": "text",
							"value": "=Moved goal to position {{ $('Extract Command').item.json.argsAsSecondIndex + 1 }}:\\n> {{ $json.movedGoal.text }}",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [
				3376,
				3104
			],
			"id": "set-move-text-node",
			"name": "Set Move Text"
		},
		{
			"parameters": {
				"method": "POST",
				"url": "={{ $('Extract Command').item.json.baseUrl }}/goals/{{ $('Extract Command').item.json.argsAsIndex }}/notes",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"chatId\": \"{{ $('Extract Command').item.json.chatId }}\",\n  \"note\": {{ JSON.stringify($('Extract Command').item.json.argsText) }}\n}",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				3152,
				3296
			],
			"id": "post-goals-notes-node",
			"name": "POST /goals/{index}/notes"
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "note-text-assignment",
							"name": "text",
							"value": "=Added note to goal:\\n> {{ $json.goal.text }}\\n\\n📝 {{ $('Extract Command').item.json.argsText }}",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [
				3376,
				3296
			],
			"id": "set-note-text-node",
			"name": "Set Note Text"
		},
		{
			"parameters": {
				"url": "={{ $('Extract Command').item.json.baseUrl }}/goals",
				"sendQuery": true,
				"queryParameters": {
					"parameters": [
						{
							"name": "chatId",
							"value": "={{ $json.chatId }}"
						},
						{
							"name": "index",
							"value": "={{ $('Extract Command').item.json.argsAsIndex }}"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				3152,
				3488
			],
			"id": "get-goals-details-node",
			"name": "GET /goals (details)"
		},
		{
			"parameters": {
				"mode": "runOnceForEachItem",
				"jsCode": "const goals = $json.goals;\nconst index = $('Extract Command').item.json.argsAsIndex;\nconst goal = goals[index];\n\nif (!goal) {\n  return { text: `Goal ${index + 1} not found.` };\n}\n\nlet response = `📋 *Goal ${index + 1}*\\n`;\nresponse += `${goal.completed ? '✅' : '⬜'} ${goal.text}\\n\\n`;\n\n// Add metadata\nif (goal.dueDate) {\n  response += `📅 Due: ${goal.dueDate}\\n`;\n}\nif (goal.scheduledDate) {\n  response += `🗓️ Scheduled: ${goal.scheduledDate}\\n`;\n}\nif (goal.recurring) {\n  response += `🔄 Recurring: ${goal.recurring}\\n`;\n}\nif (goal.isHoney) {\n  response += `💕 Honey-do task\\n`;\n}\nif (goal.createdAt) {\n  response += `\\n_Created: ${new Date(goal.createdAt).toLocaleDateString()}_\\n`;\n}\n\n// Add notes\nif (goal.notes && goal.notes.length > 0) {\n  response += `\\n*Notes:*\\n`;\n  goal.notes.forEach((note, i) => {\n    const noteDate = note.createdAt ? new Date(note.createdAt).toLocaleDateString() : '';\n    response += `${i + 1}. ${note.text}${noteDate ? ` _(${noteDate})_` : ''}\\n`;\n  });\n}\n\nreturn { text: response };"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [
				3376,
				3488
			],
			"id": "build-details-text-node",
			"name": "Build Details Text"
		},
		{
			"parameters": {
				"method": "PUT",
				"url": "={{ $('Extract Command').item.json.baseUrl }}/goals/{{ $('Extract Command').item.json.argsAsIndex }}/due-date",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"chatId\": \"{{ $('Extract Command').item.json.chatId }}\",\n  \"dueDate\": \"{{ $('Extract Command').item.json.argsAsDate }}\"\n}",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				3152,
				3680
			],
			"id": "put-goals-due-date-node",
			"name": "PUT /goals/{index}/due-date"
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "due-text-assignment",
							"name": "text",
							"value": "=📅 Due date set for goal:\\n> {{ $json.goal.text }}\\n\\nDue: {{ $('Extract Command').item.json.argsAsDate }}",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [
				3376,
				3680
			],
			"id": "set-due-text-node",
			"name": "Set Due Text"
		},
		{
			"parameters": {
				"method": "POST",
				"url": "={{ $('Extract Command').item.json.baseUrl }}/goals/{{ $('Extract Command').item.json.argsAsIndex }}/schedule",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"chatId\": \"{{ $('Extract Command').item.json.chatId }}\",\n  \"date\": \"{{ $('Extract Command').item.json.argsAsDate }}\"\n}",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				3152,
				3872
			],
			"id": "post-goals-schedule-node",
			"name": "POST /goals/{index}/schedule"
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "schedule-text-assignment",
							"name": "text",
							"value": "=🗓️ Goal scheduled:\\n> {{ $json.goal.text }}\\n\\nScheduled for: {{ $('Extract Command').item.json.argsAsDate }}",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [
				3376,
				3872
			],
			"id": "set-schedule-text-node",
			"name": "Set Schedule Text"
		},
		{
			"parameters": {
				"method": "POST",
				"url": "={{ $('Extract Command').item.json.baseUrl }}/goals/{{ $('Extract Command').item.json.argsAsIndex }}/recurring",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"chatId\": \"{{ $('Extract Command').item.json.chatId }}\",\n  \"cronExpression\": \"{{ $('Extract Command').item.json.argsAsCron }}\"\n}",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				3152,
				4064
			],
			"id": "post-goals-recurring-node",
			"name": "POST /goals/{index}/recurring"
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "recurring-text-assignment",
							"name": "text",
							"value": "=🔄 Goal set to recurring:\\n> {{ $json.goal.text }}\\n\\nPattern: {{ $('Extract Command').item.json.argsText }}",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [
				3376,
				4064
			],
			"id": "set-recurring-text-node",
			"name": "Set Recurring Text"
		}
	],
	"pinData": {
		"Telegram Trigger": [
			{
				"json": {
					"update_id": 345975226,
					"message": {
						"message_id": 9246,
						"from": {
							"id": 1397659260,
							"is_bot": false,
							"first_name": "Brendan",
							"last_name": "McMahon",
							"language_code": "en"
						},
						"chat": {
							"id": 1397659260,
							"first_name": "Brendan",
							"last_name": "McMahon",
							"type": "private"
						},
						"date": 1767017705,
						"text": "help"
					}
				}
			}
		]
	},
	"connections": {
		"Telegram Trigger": {
			"main": [
				[
					{
						"node": "Send Thinking Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Set Help Text": {
			"main": [
				[
					{
						"node": "Send Telegram Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"GET /users/tickets": {
			"main": [
				[
					{
						"node": "Set Wallet Text",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Set Wallet Text": {
			"main": [
				[
					{
						"node": "Send Telegram Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Switch": {
			"main": [
				[
					{
						"node": "POST /goals",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "GET /goals",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "POST /goals/{index}/complete",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "DELETE /goals/{index}/complete",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "DELETE /goals/{index}",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Set Help Text",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "GET /users/tickets",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "PUT /goals/{index}",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "PUT /goals/swap",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "PUT /goals/{index}/position",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "POST /goals/{index}/notes",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "GET /goals (details)",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "PUT /goals/{index}/due-date",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "POST /goals/{index}/schedule",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "POST /goals/{index}/recurring",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"PUT /goals/{index}/due-date": {
			"main": [
				[
					{
						"node": "Set Due Text",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Set Due Text": {
			"main": [
				[
					{
						"node": "Send Telegram Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"POST /goals/{index}/schedule": {
			"main": [
				[
					{
						"node": "Set Schedule Text",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Set Schedule Text": {
			"main": [
				[
					{
						"node": "Send Telegram Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"POST /goals/{index}/recurring": {
			"main": [
				[
					{
						"node": "Set Recurring Text",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Set Recurring Text": {
			"main": [
				[
					{
						"node": "Send Telegram Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"POST /goals/{index}/notes": {
			"main": [
				[
					{
						"node": "Set Note Text",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Set Note Text": {
			"main": [
				[
					{
						"node": "Send Telegram Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"GET /goals (details)": {
			"main": [
				[
					{
						"node": "Build Details Text",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Build Details Text": {
			"main": [
				[
					{
						"node": "Send Telegram Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"PUT /goals/swap": {
			"main": [
				[
					{
						"node": "Set Swap Text",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Set Swap Text": {
			"main": [
				[
					{
						"node": "Send Telegram Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"PUT /goals/{index}/position": {
			"main": [
				[
					{
						"node": "Set Move Text",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Set Move Text": {
			"main": [
				[
					{
						"node": "Send Telegram Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"PUT /goals/{index}": {
			"main": [
				[
					{
						"node": "Set Edit Text",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Set Edit Text": {
			"main": [
				[
					{
						"node": "Send Telegram Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Extract Command": {
			"main": [
				[
					{
						"node": "Switch",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Send Thinking Message": {
			"main": [
				[
					{
						"node": "Extract Command",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Send Telegram Message": {
			"main": [
				[]
			]
		},
		"Set Add Text": {
			"main": [
				[
					{
						"node": "Send Telegram Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Build List Text": {
			"main": [
				[
					{
						"node": "Send Telegram Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Set Complete Text": {
			"main": [
				[
					{
						"node": "Send Telegram Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Set Complete Text2": {
			"main": [
				[
					{
						"node": "Send Telegram Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Set Delete Text": {
			"main": [
				[
					{
						"node": "Send Telegram Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"POST /goals": {
			"main": [
				[
					{
						"node": "Set Add Text",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"GET /goals": {
			"main": [
				[
					{
						"node": "Build List Text",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"POST /goals/{index}/complete": {
			"main": [
				[
					{
						"node": "Set Complete Text",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"DELETE /goals/{index}/complete": {
			"main": [
				[
					{
						"node": "Set Complete Text2",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"DELETE /goals/{index}": {
			"main": [
				[
					{
						"node": "Set Delete Text",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"active": true,
	"settings": {
		"executionOrder": "v1"
	},
	"versionId": "dce4adcf-522e-437f-a0b9-a3797775eaee",
	"meta": {
		"templateCredsSetupCompleted": true,
		"instanceId": "844dfae675ead345de9506cef0f0726c6257947005b1cab3237fbcba92659e4d"
	},
	"id": "YnAkuie3F0qcqWTq",
	"tags": []
}